/*
	  ============================================================
		   Heading 1 Css Start
	  ============================================================
*/
.widget{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.widget-title2{
	float: left;
	width: 100%;
	margin: 0;
	background-color: #011b47;
}
.widget-title2 span{
	float: left;
	width: auto;
	color: #011b47;
	z-index: 1;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 13px;
	padding-right: 50px;
	overflow: hidden;
	position: relative;
}
.widget-title2 span:before{
	position: absolute;
	left: -112%;
	right: 0;
	top: 0;
	bottom: 0;
	width: 200%;
	content: "";
	z-index: -1;
	transform: skew(30deg);
	-o-transform: skew(30deg);
	-ms-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-webkit-transform: skew(30deg);
}



.widget-title{
	float: left;
	width: 100%;
	margin: 0 0 40px;
	font-size: 30px;
	padding-bottom: 11px;
	line-height: normal;
	font-weight: bold;
	position: relative;
}
.widget-title:before{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 90px;
	content: "";
}
.rgb-footer .widget-title{
	color: #fff;
}



/**/
.widget-newslatter .text,
.widget-text .text{
	margin: -7px 0 13px 0;
}
/**/
.rgb-ft-contact{
	float: left;
	width: 100%;
	padding: 15px 20px;
	border: 1px solid;
	background-color: rgba(0,0,1,0.3);
}
.rgb-ft-contact > span{
	float: left;
	width: 49%;
	margin: 0 0 0 2%;
}
.rgb-ft-contact > span:first-child{
	margin: 0;
}
.rgb-ft-contact strong{
	float: left;
	width: 100%;
	margin: 0 0 10px;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	font-family: "Oswald",sans-serif;
}
.rgb-ft-contact em{
	float: left;
	width: 100%;
	font-style: normal;
}
/**/
.widget-newslatter .rgb-input input[type="text"]{
	background-color: rgba(0,0,1,0.3);
	padding-top:13px;
	padding-bottom: 13px; 
	color: #fff;
}
.widget-newslatter .kode-search input[type="text"]::-webkit-input-placeholder{
	color: #fff;
}
.widget-newslatter .kode-search input[type="text"]::-moz-placeholder{
	color: #fff;
}

/**/
.widget_flickr{
	margin-left: -15px;
}
.widget_flickr a{
	float: left;
	width: 77px;
	overflow: hidden;
	position: relative;
	margin: 0 0 10px 15px;
	border: 1px solid #787976;
}
.widget_flickr a:before{
	right: 0;
	top: 50%;
	opacity: 0;
	z-index: 1;	
	left: 100%;
	width: 50px;
	color: #fff;
	height: 50px;
	font-size: 24px;
	content: "\f067";
	line-height: 50px;
	position: absolute;
	text-align: center;
	margin: -25px auto 0;
	border: 1px solid #fff;
	font-family: 'fontawesome';
	background-color: transparent;
}
.widget_flickr a:hover:before{
	left: 0;
	opacity: 1;
}
.widget_flickr a:hover img{
	opacity: 0.5;
}



/**/
.widget_nav{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.widget_nav li{
	float: left;
	width: 100%;
}
.widget_nav li a{
	float: left;
	width: all;
	text-transform: capitalize;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	margin: 0 0 18px;
	line-height: 15px;
	padding-left: 25px;
	position: relative;
}
.widget_nav li:last-child a{
	margin: 0;
}
.widget_nav li a:hover{
	padding-left: 30px;
}
.widget_nav li a:before{
	position: absolute;
	left: 0;
	top: 50%;
	margin: -7px 0 0 0;
	color: currentColor;
	content: "\f08d";
	font-family: 'fontawesome';
	transform: rotate(25deg);
	-o-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
}
.widget_nav li a:hover:before{
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}


.rgb-ft-contact span,
.widget-text .text p,
.widget-newslatter .text p,
.widget_nav li a
{
	color: #fff;
}






.icon-box:before {
    border: 2px solid #d7d7d7;
    color: #fff;
    font-size: 21px;
    height: 38px;
    left: 0;
    line-height: 38px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    z-index: 1;
}

.icon-box::after {
    content: "+";
    font-size: 32px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-58%);
}